# Byte-compiled / optimized / DLL files
.vscode/
tests/__pycache__/
tests/.coverage
tests/.pytest_cache/
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
api/__pycache__/
api/.pytest_cache/
api//*.py[cod]
api/*$py.class