/* fonts.google.com imports */

@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Baloo+Bhaina|Fjalla+One|Old+Standard+TT|Patua+One|Timmana');
/* desktop styling */

@media screen and (max-width: 2400px) {
    html,
    body {
        margin: 0 auto;
        padding: 0 auto;
        background-color: aqua;
        background: url(../img/background.jpg);
        font-family: 'Lato', sans-serif;
        font-size: 1.3em;
        width: 90%;
    }
    /* style nav */
    header {
        background: #dfe4ea;
        margin-top: .5rem;
        padding: .5rem;
        border-radius: .2rem;
        border-bottom: .5rem solid #e17055;
    }
    nav>ul {
        display: flex;
    }
    nav>ul>li {
        list-style: none;
    }
    /* style title */
    .home {
        display: flex;
        font-size: 1.5rem;
        color: rgb(255, 255, 255);
        text-align: center;
        justify-content: center;
        background: #0c2461;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        font-weight: bold;
        margin-top: 1.0rem;
        padding: 20px;
    }
    .home span {
        color: #d35400;
    }
    /* style link */
    a {
        outline: none;
        text-decoration: none;
        padding: 2px 1px 0;
        font-weight: bold;
    }
    .ul-item a:link {
        color: rgb(255, 255, 255);
    }
    .ul-item a:focus {
        background: #0984e3;
        padding: .5rem;
        border-radius: .5rem;
    }
    .ul-item a:hover {
        color: #ffffff;
    }
    .ul-item a:active {
        color: #ffffff;
    }
    /* style nav list */
    .ul-item {
        margin-left: .5rem;
        font-family: Impact, Charcoal, sans-serif;
    }
    .ul-item a {
        color: #d35400;
        font-size: 1.1rem;
        /* font-family: 'Fjalla One', sans-serif; */
        font-family: 'Patua One', cursive;
    }
    .ul-item-search {
        margin-left: auto;
    }
    /* style search bar*/
    .searchform>input {
        height: 45px;
        width: auto;
        border-radius: .5rem;
        font-family: 'Baloo Bhaina', cursive;
        font-size: 1rem;
        text-align: center;
        color: #0984e3;
    }
    input:focus {
        border: 1px solid rgb(209, 46, 17);
        box-shadow: 0 0 10px rgb(218, 120, 74);
    }
    .searchform>button {
        height: 45px;
        font-family: sans-serif;
        font-size: 1.0rem;
        font-weight: bold;
        color: rgb(255, 255, 255);
        background: blue;
        border-radius: .5rem;
    }
    .searchform>::placeholder {
        text-align: center;
        color: #bdc3c7;
    }
    /* main section */
    .main-section {
        background: #0984e3;
    }
    /* main flex */
    .main-flex {
        display: flex;
    }
    .main-flex-item {
        justify-content: center;
        flex: 2;
        padding: 5px 20px;
    }
    .login-form {
        position: relative;
    }
    .summary {
        color: #ffffff;
        font-family: 'Old Standard TT', serif;
        font-size: 1.0rem;
    }
    .summary p {
        font-family: 'Archivo Black', sans-serif;
    }
    .signup {
        color: #ddebeb;
    }
    /* register flex */
    .login-form p {
        text-align: left;
        color: #ffffff;
    }
    .flex-container {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        flex-direction: row;
    }
    .flex-item {
        padding: .5rem;
        margin: 10px;
        width: 260px;
    }
    .flex-row {
        display: flex;
        align-items: stretch;
    }
    .flex-column-label {
        flex: 1;
        padding: 5px;
        margin: 0 auto;
        height: 2rem;
        text-align: left;
        color: #d35400;
        font-family: 'Archivo Black', sans-serif;
        font-size: 1.0rem;
    }
    .flex-column-label span {
        color: #ddebeb;
    }
    .flex-column-input {
        flex: 3;
    }
    .flex-column-input input {
        height: 2rem;
        width: 20rem;
        margin: 1.5px 0;
        font-family: 'Baloo Bhaina', cursive;
        font-size: 1rem;
        text-align: center;
        color: #0984e3;
    }
    .flex-column-input ::placeholder {
        font-size: 1.0rem;
        text-align: center;
        color: #bdc3c7;
    }
    .flex-column-input textarea {
        background: url(../img/autocomplete.gif) center center no-repeat;
        border: 1px solid rgb(38, 40, 170);
        box-sizing: border-box;
        width: 100%;
        height: 10rem;
        font-size: 2rem;
        color: #0c2461;
    }
    .flex-column-input textarea:focus {
        background: none;
    }
    /* agree */
    .agree {
        display: flex;
        flex-direction: row-reverse;
    }
    .terms {
        font-size: .6rem;
        padding: .5rem;
    }
    /* submit button */
    #submit-button button {
        display: flex;
        flex-wrap: wrap;
        border: none;
        padding: 1rem 1rem;
        text-decoration: none;
        background: #28abbf;
        color: #ffffff;
        font-family: 'Archivo Black', sans-serif;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out, transform 150ms ease;
        appearance: none;
        font-weight: bold;
    }
    /* summary section */
    #summary {
        padding: .5rem;
        background: #0c2461;
    }
    #sum-article {
        padding: .5rem;
        font-family: sans-serif;
        font-size: .8rem;
        font-weight: lighter;
        color: #ffffff;
    }
    #sum-article span {
        color: #d35400;
        font-size: 1rem;
        font-family: 'Old Standard TT', serif;
        font-style: italic;
    }
    /* question section */
    #question {
        padding: .5rem;
        background: #ffffff;
    }
    .top-questions {
        text-align: center;
        color: #2f3542;
    }
    .question p {
        color: white;
        font-size: 1rem;
    }
    .question .ques-author {
        color: #747d8c;
        font-size: 1rem;
    }
    .q-body {
        color: #747d8c;
        font-size: .9rem;
        padding: .5rem;
    }
    .q-answer button {
        font-size: .8rem;
        background: #0c2461;
        border: none;
        padding: .3rem;
        color: #ffffff;
        box-shadow: 3px 3px 2px #70a1ff;
    }
    /* footer */
    #footer {
        padding: .5rem;
        background: #dfe4ea;
        margin-bottom: 1rem;
    }
    .address {
        padding: .5rem;
        color: #d35400;
        font-size: .8rem;
        text-align: center;
    }
    .address span {
        padding: .5rem;
        color: #0c2461;
    }
    /* user profile*/
    .profile {
        display: flex;
        padding: .5rem;
        background: #0984e3;
    }
    .profile-card {
        flex: 1;
    }
    .user-stack {
        flex: 3;
        margin: .5rem;
    }
    /* profile card */
    .profile-card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        background: #ffffff;
    }
    .title {
        color: grey;
        font-size: 18px;
    }
    .profile-card button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: rgb(243, 36, 36);
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }
    .profile-card p span {
        color: #d35400;
    }
    .profile-card a {
        text-decoration: none;
        font-size: 22px;
        color: black;
    }
    .ques-ans {
        font-size: 12px;
    }
    .profile-card button:hover,
    .profile-card a:hover {
        opacity: 0.7;
    }
    /* profile details */
    .user-stack article.tabs {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .user-stack article.tabs section {
        position: absolute;
        display: block;
        top: 1.5em;
        left: 0;
        height: 90%;
        width: 95%;
        padding: 10px 20px;
        background-color: #ddd;
        border-radius: 0px;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
        z-index: 0;
    }
    /* .user-stack article.tabs section:first-child {
        z-index: 1;
    } */
    .user-stack article.tabs section h2 {
        position: absolute;
        font-size: .6em;
        font-weight: normal;
        width: 120px;
        height: 2.5em;
        top: -2.8em;
        left: 10px;
        padding: .1rem;
        margin: 0;
        color: rgb(153, 153, 153);
        background-color: rgb(34, 45, 211);
    }
    article.tabs section:nth-child(2) h2 {
        left: 132px;
    }
    article.tabs section:nth-child(3) h2 {
        left: 254px;
    }
    article.tabs section h2 a {
        display: block;
        width: 90%;
        text-align: center;
        text-decoration: none;
        color: #d35400;
    }
    article.tabs section:target,
    article.tabs section:target h2 {
        color: #333;
        background-color: #fff;
        z-index: 2;
    }
    article.tabs section,
    article.tabs section h2 {
        transition: all 500ms ease;
    }
    /* edit profile form */
    .modal {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: left;
        background: rgba(0, 0, 0, .9);
        transition: opacity .25s ease;
        z-index: 2;
    }
    .modal__bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: pointer;
    }
    .modal-state {
        display: none;
    }
    .modal-state:checked+.modal {
        opacity: 1;
        visibility: visible;
    }
    .modal-state:checked+.modal .modal__inner {
        top: 0;
    }
    .modal__inner {
        transition: top .25s ease;
        position: absolute;
        top: -20%;
        right: 0;
        bottom: 0;
        left: 0;
        width: 50%;
        margin: auto;
        overflow: auto;
        background: #fff;
        border-radius: 5px;
        padding: 1em 2em;
        height: 50%;
    }
    .modal__close {
        position: absolute;
        right: 1em;
        top: 1em;
        width: 1.1em;
        height: 1.1em;
        cursor: pointer;
    }
    .modal__close:after,
    .modal__close:before {
        content: '';
        position: absolute;
        width: 2px;
        height: 1.5em;
        background: #ccc;
        display: block;
        transform: rotate(45deg);
        left: 50%;
        margin: -3px 0 0 -1px;
        top: 0;
    }
    .modal__close:hover:after,
    .modal__close:hover:before {
        background: #aaa;
    }
    .modal__close:before {
        transform: rotate(-45deg);
    }
    .btn {
        cursor: pointer;
        background: #27ae60;
        display: inline-block;
        padding: .5em 1em;
        color: #d35400;
        border-radius: 3px;
    }
    .btn:hover,
    .btn:focus {
        background: #2ecc71;
    }
    .btn:active {
        background: #27ae60;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .2) inset;
    }
    .btn--blue {
        background: #2980b9;
    }
    .btn--blue:hover,
    .btn--blue:focus {
        background: #3498db;
    }
    .btn--blue:active {
        background: #2980b9;
    }
    p img {
        max-width: 200px;
        height: auto;
        float: left;
        margin: 0 1em 1em 0;
    }
    /* question view styling */
    .qv-container {
        display: flex;
        padding: .5rem;
        background: #2980b9;
        color: #550c0c;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 20px;
        counter-reset: recent-questions;
        justify-content: center;
    }
    .qv-container p {
        color: #d35400;
    }
    .qv-container dt:before {
        content: counter(recent-questions);
        counter-increment: recent-questions;
    }
    .qv-container dt {
        font-size: 18px;
    }
    .qv-container dd {
        color: #ffffff;
        font-size: 12px;
    }
    .asked-item {
        flex: 2;
        justify-content: center;
        padding-left: 2rem;
        margin: .5rem;
        background: #7ed6df;
        box-sizing: border-box;
        box-shadow: 6px 13px 16px -1px rgba(39, 60, 117, 1);
    }
    .ans-item {
        flex: 2;
        padding-left: 2rem;
        background: #7ed6df;
        box-sizing: border-box;
        box-shadow: 6px 13px 16px -1px rgba(39, 60, 117, 1);
        margin: .5rem;
    }
    /********************************************************************************************************/
    .inner {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    .hide2 {
        width: 100%;
        clear: both;
        border: 0px solid #000;
        background: #0c2461;
        opacity: 1;
        overflow: hidden;
        transform: translateY(0);
        margin: 0;
        padding: 1.0rem;
        transition: all 1.5s linear, margin 0s linear 0s;
    }
    .hide2 p {
        padding: 10px;
        margin: 0;
    }
    .ex2 .follow {
        clear: both;
    }
    .ex2 label {
        font-size: .5rem;
        color: black;
    }
    .ex2 .author {
        font-size: 10px;
        color: white;
    }
    .ex2 .inner a {
        font-size: 10px;
        color: white;
        padding-left: 20rem;
    }
    .ex2 input[type="checkbox"]:checked+.inner .hide2 {
        opacity: 0;
        transform: translateY(-100%);
        margin-bottom: -999em;
        transition: all 1.5s linear, margin 0s linear 1.5s;
    }
    .ex2 #star {
        text-align: right;
        font-size: 30px;
        color: white;
    }
    .new-item {
        display: flex;
        justify-content: center;
        background: #2980b9;
        margin-bottom: 20px;
    }
    .new-item a {
        display: flex;
        justify-content: center;
        color: white;
        margin: 20px;
        font-size: 20px;
    }
    .new-item form {
        background: #0c2461;
        width: 80%;
        margin: auto;
        margin-bottom: 10px;
    }
    .new-item input {
        display: flex;
        justify-content: center;
        background: #fad390;
        width: 70%;
        color: white;
        padding: 10px;
        padding-left: 10px;
        margin: 20px;
        font-size: 15px;
        text-align: center;
        color: #0c2461;
    }
    .new-item textarea {
        display: flex;
        justify-content: center;
        background: #fad390;
        width: 70%;
        font-size: 15px;
        text-align: left;
        color: #0c2461;
        padding: 10px;
        padding-left: 10px;
        margin: 20px;
    }
    .new-item button {
        padding-left: 2rem;
        background: #7ed6df;
        box-sizing: border-box;
        box-shadow: 6px 13px 16px -1px rgba(39, 60, 117, 1);
        margin: .5rem;
    }
}

/* tablet styling */

@media screen and (max-width: 1024px) {
    html,
    body {
        margin: 0 auto;
        padding: 0 auto;
        background-color: aqua;
        background: url(../img/background.jpg);
        font-family: 'Lato', sans-serif;
        font-size: 1.0em;
        width: 95%;
    }
    /* style nav */
    header {
        background: #ddebeb;
        margin-top: .5rem;
        padding: .5rem;
        border-radius: .2rem;
        border-bottom: 1px solid #e17055;
    }
    nav>ul {
        display: flex;
    }
    nav>ul>li {
        list-style: none;
    }
    /* style title */
    .home {
        display: flex;
        font-size: 1.5rem;
        color: rgb(255, 255, 255);
        text-align: center;
        justify-content: center;
        background: #0c2461;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        font-weight: bold;
        margin-top: .5rem;
        padding: 20px;
    }
    .home span {
        color: #d35400;
    }
    /* style link */
    a {
        outline: none;
        text-decoration: none;
        padding: 1px .5px 0;
        font-weight: bold;
    }
    .ul-item a:link {
        color: rgb(255, 255, 255);
    }
    .ul-item a:focus {
        background: #0984e3;
        padding: .5rem;
    }
    .ul-item a:hover {
        color: #ffffff;
    }
    .ul-item a:active {
        color: #ffffff;
    }
    /* style nav list */
    .ul-item {
        margin-left: 0;
        padding-right: .5rem;
        font-family: sans-serif;
    }
    .ul-item a {
        color: #d35400;
        font-size: 1.5rem;
        font-family: sans-serif;
    }
    .ul-item-search {
        margin-left: 1.5rem;
    }
    /* style search bar*/
    .searchform>input {
        height: 30px;
        width: 80%;
        font-family: 'Baloo Bhaina', cursive;
        font-size: 1rem;
        text-align: center;
        color: #0984e3;
    }
    input:focus {
        border: 1px solid rgb(209, 46, 17);
        box-shadow: 0 0 10px rgb(218, 120, 74);
    }
    .searchform>button {
        height: 30px;
        font-family: sans-serif;
        font-size: .5rem;
        font-weight: lighter;
        color: rgb(255, 255, 255);
        background: blue;
        border-radius: 0;
    }
    .searchform>::placeholder {
        text-align: center;
        color: #bdc3c7;
    }
    /* main section */
    .main-section {
        background: #0984e3;
    }
    /* main flex */
    .main-flex {
        display: flex;
        flex-direction: column;
    }
    .main-flex-item {
        justify-content: center;
        flex: 2;
        padding: 5px 20px;
    }
    .login-form {
        position: relative;
    }
    .summary {
        color: #ffffff;
        font-family: 'Old Standard TT', serif;
        font-size: 1.0rem;
    }
    .summary p {
        font-family: 'Archivo Black', sans-serif;
        text-align: left;
    }
    .signup {
        color: #ddebeb;
    }
    /* register flex */
    .login-form p {
        text-align: center;
        color: #ffffff;
    }
    .flex-container {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        flex-direction: row;
    }
    .flex-item {
        padding: .5rem;
        margin: 10px;
        width: 260px;
    }
    .flex-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .flex-column-label {
        padding: 5px;
        margin: 0 auto;
        height: 2rem;
        text-align: left;
        color: #d35400;
        font-family: 'Archivo Black', sans-serif;
        font-size: 1.0rem;
    }
    .flex-column-label span {
        color: #ddebeb;
    }
    .flex-column-input {
        justify-content: center;
    }
    .flex-column-input input {
        height: 2.0rem;
        width: 100%;
        margin: 1.5px 0;
        font-family: 'Baloo Bhaina', cursive;
        font-size: 1rem;
        text-align: center;
        color: #0984e3;
    }
    .flex-column-input ::placeholder {
        font-size: 1.0rem;
        text-align: center;
        color: #bdc3c7;
    }
    /* agree */
    .agree {
        display: flex;
        flex-direction: row-reverse;
    }
    .terms {
        font-size: .6rem;
        padding: .5rem;
    }
    /* submit button */
    #submit-button button {
        display: flex;
        flex-wrap: wrap;
        border: none;
        padding: 1rem 1rem;
        text-decoration: none;
        background: #28abbf;
        color: #ffffff;
        font-family: 'Archivo Black', sans-serif;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out, transform 150ms ease;
        appearance: none;
        font-weight: bold;
    }
    /* summary */
    #sum-article span {
        color: #d35400;
        font-size: 1rem;
        font-family: 'Old Standard TT', serif;
        font-style: italic;
    }
    /* footer */
    #footer {
        padding: .5rem;
        background: #dfe4ea;
        margin-bottom: 1rem;
        position: relative;
        bottom: 0;
    }
    .address {
        padding: .5rem;
        color: #d35400;
        font-size: 1rem;
        text-align: center;
    }
    .address span {
        display: block;
        padding: .5rem;
        color: #0c2461;
    }
    .qv-container {
        display: flex;
        flex-direction: column;
    }
}

/* smartphone styling */

@media screen and (max-width: 480px) {
    html,
    body {
        margin: 0 auto;
        padding: 0 auto;
        background-color: aqua;
        background: url(../img/background.jpg);
        font-family: 'Lato', sans-serif;
        font-size: 1.0em;
        width: 95%;
    }
    /* style nav */
    header {
        background: #ddebeb;
        margin-top: .5rem;
        padding: .5rem;
        border-radius: .2rem;
        border-bottom: 1px solid #e17055;
    }
    nav>ul {
        display: flex;
    }
    nav>ul>li {
        list-style: none;
    }
    /* style title */
    .home {
        display: flex;
        font-size: 1.0rem;
        color: rgb(255, 255, 255);
        text-align: center;
        justify-content: center;
        background: #0c2461;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        font-weight: bold;
        margin-top: .5rem;
        padding: 20px;
    }
    .home span {
        color: #d35400;
    }
    /* style link */
    a {
        outline: none;
        text-decoration: none;
        padding: 1px .5px 0;
        font-weight: bold;
    }
    .ul-item a:link {
        color: rgb(255, 255, 255);
    }
    .ul-item a:focus {
        background: #0984e3;
        padding: .5rem;
    }
    .ul-item a:hover {
        color: #ffffff;
    }
    .ul-item a:active {
        color: #ffffff;
    }
    /* style nav list */
    .ul-item {
        margin-left: 0;
        padding-right: .5rem;
        font-family: sans-serif;
    }
    .ul-item a {
        color: #d35400;
        font-size: 1.0rem;
        font-family: sans-serif;
    }
    .ul-item-search {
        margin-left: 1.5rem;
    }
    /* style search bar*/
    .searchform>input {
        height: 25px;
        width: 80%;
        font-family: 'Baloo Bhaina', cursive;
        font-size: 1rem;
        text-align: center;
        color: #0984e3;
    }
    input:focus {
        border: 1px solid rgb(209, 46, 17);
        box-shadow: 0 0 10px rgb(218, 120, 74);
    }
    .searchform>button {
        display: none;
        height: 25px;
        font-family: sans-serif;
        font-size: .5rem;
        font-weight: lighter;
        color: rgb(255, 255, 255);
        background: blue;
        border-radius: 0;
    }
    .searchform>::placeholder {
        text-align: center;
        color: #bdc3c7;
    }
    /* main section */
    .main-section {
        background: #0984e3;
    }
    /* main flex */
    .main-flex {
        display: flex;
        flex-direction: column;
    }
    .main-flex-item {
        justify-content: center;
        flex: 2;
        padding: 5px 20px;
    }
    .login-form {
        position: relative;
    }
    .summary {
        color: #ffffff;
        font-family: 'Old Standard TT', serif;
        font-size: 1.0rem;
    }
    .summary p {
        font-family: 'Archivo Black', sans-serif;
        text-align: center;
    }
    .signup {
        color: #ddebeb;
    }
    /* register flex */
    .login-form p {
        text-align: center;
        color: #ffffff;
    }
    .flex-container {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        flex-direction: row;
    }
    .flex-item {
        padding: .5rem;
        margin: 10px;
        width: 260px;
    }
    .flex-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .flex-column-label {
        padding: 5px;
        margin: 0 auto;
        height: 2rem;
        text-align: left;
        color: #d35400;
        font-family: 'Archivo Black', sans-serif;
        font-size: 1.0rem;
    }
    .flex-column-label span {
        color: #ddebeb;
    }
    .flex-column-input {
        justify-content: center;
    }
    .flex-column-input input {
        height: 2.0rem;
        width: 100%;
        margin: 1.5px 0;
        font-family: 'Baloo Bhaina', cursive;
        font-size: 1rem;
        text-align: center;
        color: #0984e3;
    }
    .flex-column-input ::placeholder {
        font-size: 1.0rem;
        text-align: center;
        color: #bdc3c7;
    }
    /* agree */
    .agree {
        display: flex;
        flex-direction: row-reverse;
    }
    .terms {
        font-size: .6rem;
        padding: .5rem;
    }
    /* submit button */
    #submit-button button {
        display: flex;
        flex-wrap: wrap;
        border: none;
        padding: 1rem 1rem;
        text-decoration: none;
        background: #28abbf;
        color: #ffffff;
        font-family: 'Archivo Black', sans-serif;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out, transform 150ms ease;
        appearance: none;
        font-weight: bold;
    }
    /* summary */
    #sum-article span {
        display: block;
        color: #d35400;
        font-size: 1rem;
        font-family: 'Old Standard TT', serif;
        font-style: italic;
    }
    /* footer */
    #footer {
        padding: .5rem;
        background: #dfe4ea;
        margin-bottom: 1rem;
        position: relative;
        bottom: 0;
        z-index: 0;
    }
    .address {
        padding: .5rem;
        color: #d35400;
        font-size: .8rem;
        text-align: center;
    }
    .address span {
        display: block;
        padding: .5rem;
        color: #0c2461;
    }
    .modal__inner {
        width: 90%;
        height: 90%;
        box-sizing: border-box;
    }
    /* user profile*/
    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: .5rem;
        background: #0984e3;
    }
    .profile-card {}
    .user-stack {
        margin: .5rem;
    }
    /* profile card */
    .profile-card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        background: #ffffff;
    }
    .title {
        color: grey;
        font-size: 18px;
    }
    .profile-card button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: rgb(243, 36, 36);
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }
    .profile-card p span {
        color: #d35400;
    }
    .profile-card a {
        text-decoration: none;
        font-size: 22px;
        color: black;
    }
    .ques-ans {
        font-size: 12px;
    }
    .profile-card button:hover,
    .profile-card a:hover {
        opacity: 0.7;
    }
    /* profile details */
    .user-stack article.tabs {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .user-stack article.tabs section {
        position: absolute;
        display: block;
        top: 1.5em;
        left: 0;
        height: 90%;
        width: 95%;
        padding: 10px 20px;
        background-color: #ddd;
        border-radius: 0px;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
        z-index: 0;
    }
    /* .user-stack article.tabs section:first-child {
        z-index: 1;
    } */
    .user-stack article.tabs section h2 {
        position: absolute;
        font-size: .6em;
        font-weight: normal;
        width: 120px;
        height: 2.5em;
        top: -2.8em;
        left: 10px;
        padding: .1rem;
        margin: 0;
        color: rgb(153, 153, 153);
        background-color: rgb(34, 45, 211);
    }
    article.tabs section:nth-child(2) h2 {
        left: 132px;
    }
    article.tabs section:nth-child(3) h2 {
        left: 254px;
    }
    article.tabs section h2 a {
        display: block;
        width: 90%;
        text-align: center;
        text-decoration: none;
        color: #d35400;
    }
    article.tabs section:target,
    article.tabs section:target h2 {
        color: #333;
        background-color: #fff;
        z-index: 2;
    }
    article.tabs section,
    article.tabs section h2 {
        transition: all 500ms ease;
    }
    /* edit profile form */
    .modal {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: left;
        background: rgba(0, 0, 0, .9);
        transition: opacity .25s ease;
        z-index: 2;
    }
    .modal__bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: pointer;
    }
    .modal-state {
        display: none;
    }
    .modal-state:checked+.modal {
        opacity: 1;
        visibility: visible;
    }
    .modal-state:checked+.modal .modal__inner {
        top: 0;
    }
    .modal__inner {
        transition: top .25s ease;
        position: absolute;
        top: -20%;
        right: 0;
        bottom: 0;
        left: 0;
        width: 50%;
        margin: auto;
        overflow: auto;
        background: #fff;
        border-radius: 5px;
        padding: 1em 2em;
        height: 50%;
    }
    .modal__close {
        position: absolute;
        right: 1em;
        top: 1em;
        width: 1.1em;
        height: 1.1em;
        cursor: pointer;
    }
    .modal__close:after,
    .modal__close:before {
        content: '';
        position: absolute;
        width: 2px;
        height: 1.5em;
        background: #ccc;
        display: block;
        transform: rotate(45deg);
        left: 50%;
        margin: -3px 0 0 -1px;
        top: 0;
    }
    .modal__close:hover:after,
    .modal__close:hover:before {
        background: #aaa;
    }
    .modal__close:before {
        transform: rotate(-45deg);
    }
    .btn {
        cursor: pointer;
        background: #27ae60;
        display: inline-block;
        padding: .5em 1em;
        color: #d35400;
        border-radius: 3px;
    }
    .btn:hover,
    .btn:focus {
        background: #2ecc71;
    }
    .btn:active {
        background: #27ae60;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .2) inset;
    }
    .btn--blue {
        background: #2980b9;
    }
    .btn--blue:hover,
    .btn--blue:focus {
        background: #3498db;
    }
    .btn--blue:active {
        background: #2980b9;
    }
    p img {
        max-width: 200px;
        height: auto;
        float: left;
        margin: 0 1em 1em 0;
    }
    .qv-container {
        display: flex;
        flex-direction: column;
    }
}